nav.bookList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightcoral;
  padding: 1em 1em;
  color: white;
}

.bookList h3 {
  margin: 0;
}

.book-list-item {
  list-style: none;
  display: flex;
  gap: 1em;
  margin: 0;
  padding: 0;
}

.book-list-item li {
  display: inline;
}

.book-list-item a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.book-list-item a:hover {
  color: #ccc;
}
